body {
   margin-top: 20px;
}

.menu {
   margin-bottom: 20px;
}
#wrapper-logo {
   padding: 5px;
}
.logo{
   width: 32px;
   height: 32px;
   margin-right: 10px;
}
#filter{
   background: white;
   color: black;
   border: 1px solid lightgray;
}